{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'asset/assetNavbar.html' %}
    <title>Fetal Heart Rate Simulation</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        /* Arrange elements vertically (new) */
        align-items: center;
        justify-content: center;
        /* height: 80vh;
        margin: 0; */
      }
  
      .chart-container {
        width: 800px;
        /* height: 400px; */
        /* margin: 10px; */
        display: flex;
        flex-direction: column;
        /* Charts within container stack vertically */
      }
  
      /* #resetButton {
        margin-top: 20px;
      } */
  
      .numeric-value {
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
      }
  
      #timer {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        background-color: #ccc;
        font-size: 20px;
        font-weight: bold;
      }
    </style>
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
</head>
<body>
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h3 class="text-white pb-3">Bersama Kardiograf, pantau kesehatan jantung Anda dengan mudah dan optimalkan gaya hidup Anda</h3>
          <p>Kardiograf menghadirkan solusi pemantauan kesehatan yang mudah dan praktis. Dilengkapi dengan fitur pengukuran detak jantung.</p>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 text-center">
          <img src="{% static 'img/ekg_logo.png' %}" class="img-fluid rounded-4 mb-4" alt="">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">
          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-command"></i></div>
              <h4 class="title"><a href="/" class="stretched-link">Home</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-easel"></i></div>
              <h4 class="title">
                {% if user.is_authenticated %}
                <a href="/kardiograf" class="stretched-link">Monitoring</a>
                {%else%}
                <a href="" class="stretched-link">Control</a>
                {% endif %}
              </h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-gem"></i></div>
              <h4 class="title">
                {% if user.is_authenticated %}
                <a href="#" class="stretched-link">Rekam Medis Monitoring</a>
                {%else%}
                <a href="" class="stretched-link">Healty</a>
                {% endif %}
              </h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-geo-alt"></i></div>
              <h4 class="title"><a href="" class="stretched-link">History</a></h4>
            </div>
          </div><!--End Icon Box -->

        </div>
      </div>
    </div>
  </section>
    
  <section id="hitung-detak">
    <div class="container">
      <h1 class="text-center">Pengukuran Detak Jantung</h1>
      <button id="startButton">Start Count</button>
      <button id="resetButton" style="display: none;">Reset Charts</button>
    </div>
  </section>
  
  <section id="MQTT-CHART">
    <div class="chart-container">
      <canvas id="chart1" style="width: 100%; height: 30vh"></canvas>
      <div id="valueChart1" class="numeric-value"></div>
      <div id="valueBPM" class="numeric-value"></div>
    </div>
    <div class="chart-container">
      <canvas id="chart2" style="width: 100%; height: 30vh"></canvas>
      <div id="valueChart2" class="numeric-value"></div>
    </div>
    <div class="chart-container">
      <canvas id="chart3" style="width: 100%; height: 30vh"></canvas>
      <div id="valueChart3" class="numeric-value"></div>
    </div>
    <div class="chart-container">
      <canvas id="chart4" style="width: 100%; height: 30vh"></canvas>
      <div id="valueChart4" class="numeric-value"></div>
    </div>
    <div class="chart-container">
      <canvas id="chart5" style="width: 100%; height: 30vh"></canvas>
      <div id="valueChart5" class="numeric-value"></div>
    </div>
    <div class="chart-container">
      <canvas id="chart6" style="width: 100%; height: 30vh"></canvas>
      <div id="valueChart6" class="numeric-value"></div>
    </div>
    <button id="saveButton" style="display: none;">Save</button>

  </section>

  <script>
    // Declare variables outside of event listeners
    let dataLead1 = [];
    let dataLead2 = [];
    let dataLead3 = [];
    let dataLeadAVR = [];
    let dataLeadAVL = [];
    let dataLeadAVF = [];
    let bpm = [];
    let labels = [];

    const userData = {
        id: "{{ user.id }}",
        // Add other user data as needed
    };


    document.getElementById("startButton").addEventListener("click", () => {
      // Hide the start button
      document.getElementById("startButton").style.display = "none";
  
      let startTime = new Date().getTime();
      let elapsedTime = 0;
      let receiveData = true;
  
      // Show the reset button after 30 seconds
      setTimeout(() => {
        document.getElementById("resetButton").style.display = "block";
        document.getElementById("saveButton").style.display = "block";
        receiveData = false; // Stop receiving data
      }, 30000);
  
      // const dataLead1 = [];
      // const dataLead2 = [];
      // const dataLead3 = [];
      // const dataLeadAVR = [];
      // const dataLeadAVL = [];
      // const dataLeadAVF = [];
      // const labels = [];
  
      const updateChart = (chartId, chartTitle, chartData, valueId, max) => {
        // Destroy existing Chart instance if it exists
        if (Chart.instances[chartId]) {
          Chart.instances[chartId].destroy();
        }
  
        const chart = new Chart(document.getElementById(chartId), {
          type: "line",
          data: {
            labels,
            datasets: [
              {
                label: chartTitle,
                data: chartData,
                borderColor: "#333",
                borderWidth: 2,
                fill: false,
                lineTension: 0,
              },
            ],
          },
          options: {
            animation: false,
            title: {
              display: true,
              text: chartTitle,
            },
            scales: {
              yAxes: [
                {
                  ticks: {
                    ticks: {
                      // Ensure both positive and negative values are visible
                      suggestedMin: -max,
                      suggestedMax: max,
                    },
                  },
                  gridLines: {
                    color: "red" /* Set grid line color to red */,
                    lineWidth: 0.5 /* Increase line width for more solid appearance */,
                  },
                },
              ],
              xAxes: [
                {
                  gridLines: {
                    color: "red" /* Set grid line color to red */,
                    lineWidth: 0.5 /* Increase line width for more solid appearance */,
                  },
                },
              ],
            },
            legend: {
              display: false,
            },
          },
        });
  
        const valueElement = document.getElementById(valueId);
        valueElement.innerHTML = `Value: ${chartData[chartData.length - 1]}`;
      };
  
      const updateAllCharts = () => {
        updateChart(
          "chart1",
          "Lead I",
          dataLead1,
          "valueChart1",
          (max = 300)
        );
        updateChart(
          "chart2",
          "Lead II",
          dataLead2,
          "valueChart2",
          (max = 80)
        );
        updateChart(
          "chart3",
          "Lead III",
          dataLead3,
          "valueChart3",
          (max = 80)
        );
        updateChart(
          "chart4",
          "Lead aVR",
          dataLeadAVR,
          "valueChart4",
          (max = 80)
        );
        updateChart(
          "chart5",
          "Lead aVL",
          dataLeadAVL,
          "valueChart5",
          (max = 80)
        );
        updateChart(
          "chart6",
          "Lead aVF",
          dataLeadAVF,
          "valueChart6",
          (max = 80)
        );
      };
  
      const topic = "ekg/ajik";
      const clientId = "mqttjs_" + Math.random().toString(16).substr(2, 8);
      const host = "ws://broker.emqx.io:8083/mqtt";
      const options = {
        keepalive: 60,
        clientId: clientId,
        protocolId: "MQTT",
        protocolVersion: 4,
        clean: true,
        reconnectPeriod: 1000,
        connectTimeout: 30 * 1000,
        will: {
          topic: "WillMsg",
          payload: "Connection Closed abnormally..!",
          qos: 0,
          retain: false,
        },
      };
  
      console.log("Connecting mqtt client");
      const client = mqtt.connect(host, options);
      client.on("error", (err) => {
        console.log("Connection error: ", err);
        client.end();
      });
      client.on("reconnect", () => {
        console.log("Reconnecting...");
      });
      client.on("connect", function () {
        console.log("Connected to MQTT broker, with topic = " + topic);
        client.subscribe(topic, { qos: 0 });
      });
  
      client.on("message", (topic, message, packet) => {
        if (!receiveData) return; // Stop receiving data after 30 seconds
  
        var now = new Date();
        var currentMinute = now.getMinutes();
        var currentSecond = now.getSeconds();
        var currentMillisecond = now.getMilliseconds();
        var currentTime =
          currentMinute + ":" + currentSecond + "." + currentMillisecond;
  
        console.log(`${currentTime} - ${message.toString()}`);
  
        const dataString = message.toString();
        const dataArray = dataString.split(",").map(parseFloat);
  
        for (let i = 0; i < dataArray.length - 1; i += 2) {
          const lead1 = dataArray[i];
          const lead2 = dataArray[i + 1];
  
          dataLead1.push(lead1);
          dataLead2.push(lead2);
          dataLead3.push(lead2 - lead1);
          dataLeadAVR.push(-1 * ((lead1 + lead2) / 2));
          dataLeadAVL.push(lead1 - lead2 / 2);
          dataLeadAVF.push(lead2 - lead1 / 2);
          labels.push("");
  
          if (dataLead1.length > 150) {
            dataLead1.shift();
            dataLead2.shift();
            dataLead3.shift();
            dataLeadAVR.shift();
            dataLeadAVL.shift();
            dataLeadAVF.shift();
            labels.shift();
          }
        }
  
        updateAllCharts();
  
        const bpm = dataArray[dataArray.length - 1];
  
        const valueBPM = document.getElementById("valueBPM");
        valueBPM.innerHTML = `BPM: ${bpm}`;
      });
    });
    document.getElementById("saveButton").addEventListener("click", () => {
      // Prepare the data to send to the server
      const formData = new FormData();
      formData.append('csrfmiddlewaretoken', '{{ csrf_token }}'); // Add this line
      // Push individual values to the arrays
      dataLead1.slice(-150).forEach(lead1 => formData.append('data_lead1', lead1));
      dataLead2.slice(-150).forEach(lead2 => formData.append('data_lead2', lead2));
      dataLead3.slice(-150).forEach(lead3 => formData.append('data_lead3', lead3));
      dataLeadAVR.slice(-150).forEach(leadAVR => formData.append('data_leadAVR', leadAVR));
      dataLeadAVL.slice(-150).forEach(leadAVL => formData.append('data_leadAVL', leadAVL));
      dataLeadAVF.slice(-150).forEach(leadAVF => formData.append('data_leadAVF', leadAVF));
      bpm.slice(-1).forEach(b => formData.append('bpm', b));

      formData.append('data_user', parseInt(userData.id));  // Parse user_id as an integer

      // Send a POST request to the server to save the data
      fetch('/save-ekg-data/', {
          method: 'POST',
          body: formData
      })
      .then(response => {
          if (response.ok) {
              console.log('Data saved successfully.');
          } else {
              console.error('Failed to save data.');
          }
      })
      .catch(error => console.error('Error:', error));
    }); 

  </script>
  
  
  

</body>
</html>
{% include 'asset/assetScript.html' %}