{% load static %}
<style>
  
  .chart-container {
    width: 600px;
    /* max-width: 600px; */
    height: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    /* Charts within container stack vertically */
  }

  /* #resetButton {
      margin-top: 20px;
    } */

  .numeric-value {
    display: none;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }

  .chart-scroll-container {
    overflow-x: auto;
    white-space: nowrap; /* Prevent charts from wrapping */
  }

</style>
<body>
  {% include 'asset/assetNavbar.html' %}
  {% block content %}
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2 class="text-white pb-3">Jelajahi Riwayat Kesehatan Jantung Anda dengan Kardiograf</h2>
          <p>Lihat bagaimana performa jantung anda di hari-hari berbeda. Setelah itu gunakan data riwayat untuk berkonsultasi dengan dokter atau ahli kesehatan lainnya, mempermudah diagnosis dan pengembangan rencana perawatan yang tepat.</p>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 text-center">
          <img src="{% static 'img/doctor.png' %}" class="img-fluid rounded-4 mb-4 w-50" alt="">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">
          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-command"></i></div>
              <h4 class="title"><a href="/" class="stretched-link">Home</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-activity"></i></div>
              <h4 class="title">
                {% if user.is_authenticated %}
                <a href="/kardiograf" class="stretched-link">Pengukuran</a>
                {%else%}
                <a href="" class="stretched-link">Control</a>
                {% endif %}
              </h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-clock-history"></i></div>
              <h4 class="title">
                {% if user.is_authenticated %}
                <a href="/rekam-medik" class="stretched-link">Riwayat</a>
                {%else%}
                <a href="" class="stretched-link">Healty</a>
                {% endif %}
              </h4>
            </div>
          </div><!--End Icon Box -->

        </div>
      </div>
    </div>
  </section>

  <!-- Table History -->
  <section>
    <div class="container">
      <h2>{{ user.username }}'s Heart Rate Data</h2>
      <!-- Table to display heart rate data -->
      <table id="heartRateTable" class="display">
        <thead>
          <tr class="text-center">
            <!-- <th>ID</th> -->
            <th>id</th>
            <th>Tanggal dan Waktu</th>
            <th>User</th>
            <th>BPM</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <!-- Data will be loaded dynamically -->
        </tbody>
      </table>
    </div>
  </section>

  <!-- Modal for delete confirmation -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this record?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for info -->
  <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoModalLabel">Record Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="MQTT-CHART" style="display: block;">
            <div id="valueBPM" class="numeric-value text-center"></div>
            <div class="chart-scroll-container">
              <div class="chart-container">
                <p>Lead 1: </p>
                <canvas id="chart1" style="width: 100%; height: 30vh"></canvas>
                <div id="valueChart1" class="numeric-value"></div>
              </div>
            </div>
            <div class="chart-scroll-container">
              <div class="chart-container">
                <p>Lead 2: </p>
                <canvas id="chart2" style="width: 100%; height: 30vh"></canvas>
                <div id="valueChart2" class="numeric-value"></div>
              </div>
            </div>
            <div class="chart-scroll-container">
              <div class="chart-container">
                <p>Lead 3: </p>
                <canvas id="chart3" style="width: 100%; height: 30vh"></canvas>
                <div id="valueChart3" class="numeric-value"></div>
              </div>
            </div>
            <div class="chart-scroll-container">
              <div class="chart-container">
                <p>Lead AVR: </p>
                <canvas id="chart4" style="width: 100%; height: 30vh"></canvas>
                <div id="valueChart4" class="numeric-value"></div>
              </div>
            </div>
            <div class="chart-scroll-container">
              <div class="chart-container">
                <p>Lead AVL: </p>
                <canvas id="chart5" style="width: 100%; height: 30vh"></canvas>
                <div id="valueChart5" class="numeric-value"></div>
              </div>
            </div>
            <div class="chart-scroll-container">
              <div class="chart-container">
                <p>Lead AVF: </p>
                <canvas id="chart6" style="width: 100%; height: 30vh"></canvas>
                <div id="valueChart6" class="numeric-value"></div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</body>
<script type="text/javascript">
  var getEkgDataUrl = "{% url 'get_ekg_data' 0 %}";
  getEkgDataUrl = getEkgDataUrl.replace('/0/', '/');  // Clean up the URL for later use
</script>

<script>
$(document).ready(function () {
  let dataLead1 = [];
  let dataLead2 = [];
  let dataLead3 = [];
  let dataLeadAVR = [];
  let dataLeadAVL = [];
  let dataLeadAVF = [];
  let lastBpmValue; // Variable to store the last BPM value

  let labels = [];

  // Function to update a chart with scrollable x-axis
  const updateChart = (chartId, chartTitle, chartData, valueId, max) => {
    const chartContainer = document.getElementById(chartId).parentNode;

    // Destroy existing Chart instance if it exists
    try {
      Chart.helpers.each(Chart.instances, (instance) => {
        if (instance.chart.canvas.id === chartId) {
          instance.destroy();
        }
      });
    } catch (error) {
      console.log("No existing chart to destroy for", chartId);
    }

    const dataLength = chartData.length;
    const chartWidth = dataLength * 1.5; // Adjust SCROLL_POINT_WIDTH as needed

    // Set container width based on data points
    chartContainer.style.width = chartWidth + 'px';

    const chart = new Chart(document.getElementById(chartId), {
      type: "line",
      data: {
        labels,
        datasets: [
          {
            label: chartTitle,
            data: chartData,
            borderColor: "#333",
            borderWidth: 2,
            fill: false,
            lineTension: 0,
            pointRadius: 0,
          },
        ],
      },
      options: {
        animation: false,
        title: {
        display: true,
        text: chartTitle,
        align: 'start' // Set alignment to 'start' for left-alignment
      },
        scales: {
          yAxes: [
            {
              ticks: {
                ticks: {
                  // Ensure both positive and negative values are visible
                  suggestedMin: -max,
                  suggestedMax: max,
                },
              },
              gridLines: {
                color: "red" /* Set grid line color to red */,
                lineWidth: 0.5 /* Increase line width for more solid appearance */,
              },
            },
          ],
          xAxes: [
            {
              display: true, // Enable x-axis for scrolling
              gridLines: {
                color: "red" /* Set grid line color to red */,
                lineWidth: 0.5 /* Increase line width for more solid appearance */,
              },
            },
          ],
        },
        legend: { // Deprecated option (for older Chart.js versions)
          display: false,
        },
        responsive: true, // Enable responsive behavior
        maintainAspectRatio: false, // Allow height adjustments
      },
    });

    const valueElement = document.getElementById(valueId);
    // valueElement.innerHTML = `Nilai: ${chartData[chartData.length - 1]}`;
    if (valueElement) {
      const lastBpmIndex = chartData.length - 1; // Assuming last index holds last value
      if (lastBpmIndex >= 0) {
        lastBpmValue = chartData[lastBpmIndex];
        valueElement.innerHTML = `Nilai BPM: ${lastBpmValue}`;
      } else {
        valueElement.innerHTML = `No BPM data available`;
      }
    }
  };

  const updateAllCharts = () => {
    updateChart(
      "chart1",
      "Lead I",
      dataLead1,
      "valueChart1",
      (max = 300)
    );
    updateChart(
      "chart2",
      "Lead II",
      dataLead2,
      "valueChart2",
      (max = 80)
    );
    updateChart(
      "chart3",
      "Lead III",
      dataLead3,
      "valueChart3",
      (max = 80)
    );
    updateChart(
      "chart4",
      "Lead aVR",
      dataLeadAVR,
      "valueChart4",
      (max = 80)
    );
    updateChart(
      "chart5",
      "Lead aVL",
      dataLeadAVL,
      "valueChart5",
      (max = 80)
    );
    updateChart(
      "chart6",
      "Lead aVF",
      dataLeadAVF,
      "valueChart6",
      (max = 80)
    );
  };


    // Initialize DataTable
    $('#heartRateTable').DataTable({
      "ajax": {
        "url": "{% url 'viewPerhitunganData' %}",
        "dataSrc": "data"
      },
      "columns": [
        { "data": "id" },  // Assuming the first column is the ID
        { "data": "timestamp" },
        { "data": "user_name", "className": "dt-center" },
        { "data": "last_bpm" },  // Add a new column for last_bpm
        { "data": "action", "className": "dt-center" }
      ]
    });

    var deleteUrl;
    // Event delegation for delete button click
    $('#heartRateTable').on('click', '.delete-btn', function (e) {
      e.preventDefault();
      deleteUrl = $(this).attr('href');
      $('#deleteModal').modal('show');
    });

    // Handle delete confirmation
    $('#confirmDeleteBtn').on('click', function () {
      window.location.href = deleteUrl;
    });

    // Event delegation for info button click
    $('#heartRateTable').on('click', '.info-btn', function (e) {
      e.preventDefault();
      var perhitunganId = $(this).closest('tr').find('td:first').text();  // Get the perhitungan ID from the first column
      var url = getEkgDataUrl + perhitunganId;  // Append the perhitungan ID to the base URL
      $.ajax({
        url: url,
        method: 'GET',
        success: function (response) {
          try {
              Chart.helpers.each(Chart.instances, (instance) => {
              instance.destroy();
            });
          } catch (error) {
            console.log("Tidak ada chart untuk dihapus.");
          }
          dataLead1 = response.lead1;
          dataLead2 = response.lead2;
          dataLead3 = response.lead3;
          dataLeadAVR = response.leadAVR;
          dataLeadAVL = response.leadAVL;
          dataLeadAVF = response.leadAVF;
          labels = new Array(dataLead1.length).fill("");

          updateAllCharts();
          $('#infoModal').modal('show');
        },
        error: function (xhr) {
          $('#infoContent').html('<p>Error loading data</p>');
          $('#infoModal').modal('show');
        }
      });
    });
  });
</script>



{% include 'asset/assetScript.html' %}