{% load static %}
{% include 'asset/assetHeaderAuth.html' %}
<body>
  {% include 'asset/assetNavbar.html' %}
  {% block content %}
    <section>
      <div class="container position-relative">
        {% if user.is_authenticated %}
        <p>ini konten, cuma gatau dibuat apa</p>
        
        {% endif %}
      </div>
    </section>

    <!-- Table History -->
    <section>
      <div class="container">
        <h2>Heart Rate History</h2>
        <h3>{{ user.username }}'s Heart Rate Data</h3>
        <!-- Table to display heart rate data -->
        <table id="heartRateTable" class="display">
          <thead>
            <tr class="text-center">
              <!-- <th>ID</th> -->
              <th>Tanggal dan Waktu</th>
              <th>User</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <!-- Data will be loaded dynamically -->
          </tbody>
        </table>
      </div>
    </section>

    
  {% endblock %}
</body>
<script>
  $(document).ready(function() {
    // Initialize DataTable
    $('#heartRateTable').DataTable({
      "ajax": {
        "url" : "{% url 'viewPerhitunganData' %}",
        "dataSrc": "data"
      },
      "columns": [
        // { "data": "id" },
        { "data": "timestamp" },
        { "data": "user_name", "className": "dt-center" },
        { "data": "action", "className": "dt-center" }
      ]
    });
  });
</script>


{% include 'asset/assetScript.html' %}